/* Sidebar */

.wrapper {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  height: auto;
  width: 100vw;
  color: #F7F6F6;
  
  
}
#openCloseBtn {
  display: block;
  width: 45px;
  height: 55px;
  position: fixed;
  left: 20px;
  top: 0;
  color: steelblue;
  background-color: transparent;
  border:none;
  font-size: 1.7rem;
  z-index: 20;
  cursor: pointer;
  transform: rotate(45deg);
  transition: left 0.5s, transform 0.5s;
}
.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 197px;
  background-color: black;
  height: 100%;
  min-height: 100px;
  position: fixed;
  left: -197px;
  transition: left 0.5s;
  fill: 1;
  
  
}
.sidebar .logo {
  display: flex;
  padding-top: 50px;
  width: 100%;
  height: 100px;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  letter-spacing: 2px;
}
.sidebar .logo span {
  color: steelblue;
}

.sidebar.active {
  left: 0px;
}
.sidebar.active + .content { 
  width: calc(100% - 320px);
  margin-left: 320px;
}
.sidebar.active #openCloseBtn{
  left: 160px;
  transform: rotate(360deg);
}


/* Menu One */
.sidebar__menu_list {
  /* border: 1px solid red; */
  list-style: none;
  
  width: 90%;
  margin-top: 50px;
  margin-bottom: 50px;
  font-variation-settings: 'FILL' 1, 'wght' 700, 'GRAD' 0, 'opsz' 48;
}
ul .sidebar__menu_list:not(:nth-child(1)) {
  
  overflow: hidden;
}



.material-symbols-outlined{
  font-size: 18px;
  
}
.sidebar__menu_list-item .sidebar__menu_list-item-link  {
  display: flex;
  font-family:"Source Sans 3";
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: whitesmoke;
  font-weight: 400;
  font-size: 18px;
  padding: 7px 20px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}
.sidebar__menu_list .sidebar__menu_list a:hover {
  background-color: rgb(17,138,236);
  color: #eee;
}
.sidebar__menu_list .sidebar__menu_list a i {
  display: inline-block;
  width: 20px;
  margin-right: 15px;
  text-align: center;
  
  align-self: center;
}

/* Second Menu */
.sidebar__menu_list .userMenu .userMenu__item {
  margin-bottom: 15px;
}
.sidebar__menu_list .userMenu .userMenu__item a {
  padding: 5px 20px;
  border-radius: 20px;
  text-align: center;
  
  
}

.userMenu{
  justify-self: flex-end;
  font-size: 18px;
  font-family: "Source Sans 3";
  list-style: none;
  
  text-decoration: none;
}

.debar__menu_list-item-link{
  gap: 10px;
}
.userMenu__item_text {
  
  color: gray;
  text-decoration: none;
}



.reg-btn:hover {
  background-color: rgb(51,175,134);
  color: black;
}

.sidebar__menu_list{
  display: block;
  flex-flow: column;
  align-self: center;
}

/* Horizontal Rules */
hr {
  display: block;
  width: 70%;
  height:1px;
  border: none;
  background-color: rgba(255,255,255,0.1);
}
/* Footer Area */
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 100%;
  background-color: rgb(24,23,23);
  position: absolute;
  bottom: 0;
}
/* Content Area */
.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 0px;
  margin-top: 50px;
  padding: 20px;
  transition: width 0.5s, margin 0.5s;
}
.content p {
  margin:42px 50px 27px ;
}
/* ------------sidbar end-------------- */
main{
  color: black;
}

.header {
    display: flex;
    
    justify-content: space-between;
    font-family: "Source Sans 3";
    align-items: center;
}
.header__text {
    
    font-size: 30px;
    font-weight: 600;
    
}

.header__info{
    display: flex;
    
    justify-content: space-between;
    gap:25px;
    
}

/* Колокольчик */
.header__info_notification-bell-img{
    width: 24px;
    height: 24px;
    
    background-size: cover;
    background-position: center;
    position: relative;
   
}

.header__info_button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border: none;
    outline: none;
    border-radius: 50%;
    background-color: transparent;
    
    
  }
  
  .header__info_button:hover {
    cursor: pointer;
  }
  
  .header__info_button:active {
    background-image: url(/images/bell\ icon\ png.png);
    background-color: transparent;
  }
  
  .header__info_button-badge {
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    top: -15px;
    right: -15px;
    width: 24px;
    height: 24px;
    background: black;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
  

  .header__profile{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header__profile-img{
    height: 42px;
    width: 42px;
    border-radius: 50%;
  }

  .header__profile-name{
    font-size: 16px;
    font-weight: 500;
  }

  .header__profile-dropDown:after{
    font-family: FontAwesome;
    content: "\f107";
    
    font-weight: bold;
    align-items: center;
    
    
  }

  .header__profile-dropDown{
    background-color: transparent;
    border: none;
    outline: none;
    
  }

  /* Наполнение */
  .Insights{
    background-color: white;
    width: 740px;
    max-height: 230px;
    box-shadow: 5px 5px 5px 2px lightgrey;
    border-radius: 3%;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    background-color: #F7F6F6;
  }

  .Insights__head{
    display: flex;
    justify-content: space-between;
    max-height: 230px;
    padding: 0 50px;
  }
  
  